@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  /* --------------------- */
  /*    headline fonts     */
  /* ----------------------*/
  
  .h1-bold{
    @apply text-black text-5xl font-bold font-[var(--font-family)] leading-[140px]
  }
  .h1-regular{
    @apply text-black text-5xl font-normal font-[var(--font-family)] leading-[67.20px]
  }

  .h1-underline{
    @apply text-black text-5xl font-normal font-[var(--font-family)] leading-[67.20px] underline
  }

  .h2-bold{
    @apply text-black text-4xl font-bold font-[var(--font-family)] leading-[140px]
  }

  .h2-regular{
    @apply text-black text-4xl font-normal font-[var(--font-family)] leading-[140px]
  }

  .h2-underline{
    @apply text-black text-4xl font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .h3-bold{
    @apply text-black text-3xl font-bold font-[var(--font-family)] leading-[140px]
  }
  .h3-regular{
    @apply text-black text-3xl font-normal font-[var(--font-family)] leading-[140px]
  }

  .h3-underline{
    @apply text-black text-3xl font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .h4-bold{
    @apply text-black text-2xl font-bold font-[var(--font-family)] leading-[140px]
  }

  .h4-regular{
    @apply text-black text-2xl font-normal font-[var(--font-family)] leading-[140px]
  }

  
  .h4-underline{
    @apply text-black text-2xl font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .h5-bold{
    @apply text-black text-xl font-bold font-[var(--font-family)] leading-[140px]
  }

  .h5-regular{
    @apply text-black text-xl font-normal font-[var(--font-family)] leading-[140px]
  }

  .h5-underline{
    @apply text-black text-xl font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .h6-bold{
    @apply text-black text-lg font-bold font-[var(--font-family)] leading-[140px]
  }

  .h6-regular{
    @apply text-black text-lg font-normal font-[var(--font-family)] leading-[140px]
  }

  
  .h6-underline{
    @apply text-black text-lg font-normal font-[var(--font-family)] leading-[140px] underline
  }


  /* --------------------- */
  /*    body fonts     */
  /* ----------------------*/

  .body-bold{
    @apply text-black text-base font-bold font-[var(--font-family)] leading-[140px]
  }

  .body-regular{
    @apply text-black text-base font-normal font-[var(--font-family)] leading-[140px]
  }

  
  .body-underline{
    @apply text-black text-base font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .small-bold{
    @apply text-black text-sm font-bold font-[var(--font-family)] leading-[140px]
  }

  .small-regular{
    @apply text-black text-sm font-normal font-[var(--font-family)] leading-[140px]
  }

  .small-regular-placeholder::placeholder{
    @apply text-black text-sm font-normal font-[var(--font-family)] leading-[140px]
  }


  .small-underline{
    @apply text-black text-sm font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .x-small-bold{
    @apply text-black text-xs font-bold font-[var(--font-family)] leading-[140px]
  }

  .x-small-regular{
    @apply text-black text-xs font-normal font-[var(--font-family)] leading-[140px]
  }

  
  .x-small-underline{
    @apply text-black text-xs font-normal font-[var(--font-family)] leading-[140px] underline
  }

  .xx-small-bold{
    @apply text-black text-[9px] font-bold font-[var(--font-family)] leading-[140px]
  }

  .xx-small-regular{
    @apply text-black text-[9px] font-normal font-[var(--font-family)] leading-[140px]
  }

  .xx-small-underline{
    @apply text-black text-[9px] font-normal font-[var(--font-family)] leading-[140px] underline
  }

  /* --------------------- */
  /*    box shadow     */
  /* ----------------------*/
  .shadow-near {
    box-shadow: 0px 2px 8px 0px #39393914;
  }

  .shadow-normal {
    box-shadow: 0px 4px 16px 0px #39393914;
  }

  .shadow-far {
    box-shadow: 0px 8px 24px 4px #39393914;
  }

  .shadow-farest {
    box-shadow: 0px 16px 32px 8px #39393914;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}



@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}