@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family);
    font-size: 16px;
  }

  body {
    background-color: #f4f3f4;
  }

  mark {
    @apply bg-accent text-accent-content;
  }

  /** Remove default styles from input[type=number] */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Disable scroll once drawer/modal is openned */
  body:has(.drawer-toggle:checked),
  body:has(.modal-toggle:checked) {
    overflow: hidden;
    height: 100vh;
  }

  /* --------------------- */
  /*    headline fonts     */
  /* ----------------------*/
  
  .h1-bold{
    @apply text-black text-5xl font-bold  leading-[140%]
  }
  .h1-regular{
    @apply text-black text-5xl font-normal  leading-[67.20%]
  }

  .h1-underline{
    @apply text-black text-5xl font-normal  leading-[67.20%] underline
  }

  .h2-bold{
    @apply text-black text-4xl font-bold  leading-[140%]
  }

  .h2-regular{
    @apply text-black text-4xl font-normal  leading-[140%]
  }

  .h2-underline{
    @apply text-black text-4xl font-normal  leading-[140%] underline
  }

  .h3-bold{
    @apply text-black text-3xl font-bold  leading-[140%]
  }
  .h3-regular{
    @apply text-black text-3xl font-normal  leading-[140%]
  }

  .h3-underline{
    @apply text-black text-3xl font-normal  leading-[140%] underline
  }

  .h4-bold{
    @apply text-black text-2xl font-bold  leading-[140%]
  }

  .h4-regular{
    @apply text-black text-2xl font-normal  leading-[140%]
  }

  
  .h4-underline{
    @apply text-black text-2xl font-normal  leading-[140%] underline
  }

  .h5-bold{
    @apply text-black text-xl font-bold  leading-[140%]
  }

  .h5-regular{
    @apply text-black text-xl font-normal  leading-[140%]
  }

  .h5-underline{
    @apply text-black text-xl font-normal  leading-[140%] underline
  }

  .h6-bold{
    @apply text-black text-lg font-bold  leading-[140%]
  }

  .h6-regular{
    @apply text-black text-lg font-normal  leading-[140%]
  }

  
  .h6-underline{
    @apply text-black text-lg font-normal  leading-[140%] underline
  }


  /* --------------------- */
  /*    body fonts     */
  /* ----------------------*/

  .body-bold{
    @apply text-base font-bold  leading-[140%]
  }

  .body-regular{
    @apply text-base font-normal  leading-[140%]
  }

  
  .body-underline{
    @apply text-base font-normal  leading-[140%] underline
  }

  .small-bold{
    @apply text-sm font-bold leading-[140%]
  }

  .small-regular{
    @apply text-sm font-normal leading-[140%]
  }

  .small-regular-placeholder::placeholder{
    @apply text-black text-sm font-normal  leading-[140%]
  }


  .small-underline{
    @apply text-black text-sm font-normal  leading-[140%] underline
  }

  .x-small-bold{
    @apply text-black text-xs font-bold  leading-[140%]
  }

  .x-small-regular{
    @apply text-black text-xs font-normal  leading-[140%]
  }

  
  .x-small-underline{
    @apply text-black text-xs font-normal  leading-[140%] underline
  }

  .xx-small-bold{
    @apply text-black text-[9px] font-bold  leading-[140%]
  }

  .xx-small-regular{
    @apply text-black text-[9px] font-normal  leading-[140%]
  }

  .xx-small-underline{
    @apply text-black text-[9px] font-normal leading-[140%] underline
  }

  /* --------------------- */
  /*    box shadow     */
  /* ----------------------*/
  .shadow-near {
    box-shadow: 0px 2px 8px 0px #39393914;
  }

  .shadow-normal {
    box-shadow: 0px 4px 16px 0px #39393914;
  }

  .shadow-far {
    box-shadow: 0px 8px 24px 4px #39393914;
  }

  .shadow-farest {
    box-shadow: 0px 16px 32px 8px #39393914;
  }
  .text-nowrap{
    text-wrap: nowrap;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

.group:disabled .group-disabled\:animate-progress {
  animation: progress-frame ease normal
}
.collapse-arrow > .collapse-title:after{
  width: 0.75rem;
  height: 0.75rem;
  box-shadow: 1px 1px;
}


@media (min-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

@keyframes progress-frame {
  0% {
    --dot-progress: 0%
  }

  to {
    --dot-progress: 100%
  }
}

.menu-title-button {
  width: 100%;
  padding: 1rem;
  padding-inline-end: 3rem;
  min-height: 3.75rem;
  transition: background-color .2s ease-out;
}

.subMenu-content {
  transition: all 0.4s ease;
  transform: translateX(-100%);
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 108px);
}

.subMenu-content.open {
  transition: all 0.4s ease;
  width: 100%;
  transform: translateX(0%);
  overflow-y: auto;
}

.subMenuChildren {
  overflow-y: auto;

}

.subMenuChildren {
  scrollbar-width: auto;
  scrollbar-color: #C6C6C6 #f3f3f3;
}

.subMenuChildren::-webkit-scrollbar {
  width: 14px;
}

.subMenuChildren::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.subMenuChildren::-webkit-scrollbar-thumb {
  background-color: #C6C6C6;
  border-radius: 0px;
  border: 0px solid #ffffff;
}